---

- name: Get dpkg host architecture
  ansible.builtin.command:
    cmd: dpkg --print-architecture
  changed_when: false
  register: get_dpkg_host_architecture

- name: Set dpkg host architecture fact
  ansible.builtin.set_fact:
    dpkg_host_architecture: "{{ get_dpkg_host_architecture.stdout }}"
  when: get_dpkg_host_architecture.rc == 0

- name: Enable debian backports on debian buster
  ansible.builtin.apt_repository:
    filename: "debian-backports"
    repo: "deb {{ debian_mirror }} {{ debian_backports_components }}"
    update_cache: yes
    state: present
  when:
    - bearwall2_enable_backports
    - ansible_facts.distribution == "Debian"
    - ansible_facts.distribution_release == "buster"

- name: Backport kernel and nftables on debian buster # noqa package-latest
  ansible.builtin.apt:
    name:
      - linux-image-{{ dpkg_host_architecture }}
      - nftables
    default_release: "{{ ansible_facts.distribution_release }}-backports"
    state: latest
  when:
    - bearwall2_backport_kernel_nftables
    - ansible_facts.distribution == "Debian"
    - ansible_facts.distribution_release == "buster"

- name: Install dependencies
  ansible.builtin.apt:
    pkg:
      - "python3-debian"

- name: Remove old bearwall2 apt configuration
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "/etc/apt/sources.list.d/bearwall2.list"
    - "/usr/share/keyrings/bearwall2.gpg"

- name: Add bearwall2 apt repository
  ansible.builtin.deb822_repository:
    name: bearwall2
    uris: "{{ bearwall2_apt_repo_url }}"
    suites: "{{ bearwall2_apt_repo_suite }}"
    components: "{{ bearwall2_apt_repo_component }}"
    signed_by: "{{ bearwall2_apt_repo_gpg_key }}"
    state: present
  register: _apt_repo

- name: Install packages
  ansible.builtin.apt:
    name:
      - bearwall2
      - ulogd2
    update_cache: "{{ true if _apt_repo is changed else false }}"
    state: present

- name: Gather package versions
  ansible.builtin.package_facts:
    manager: auto

- name: Check kernel version
  ansible.builtin.fail:
    msg: "Warning: kernel version should be >= 5.2 for nat to work, detected version: {{ ansible_facts.kernel }}"
  failed_when: false
  when: ansible_facts.kernel is version('5.2', '<')

- name: Check nftables version
  ansible.builtin.fail:
    msg: "Warning: nftables version should be >= 0.9.1 for nat to work, detected version: {{ ansible_facts.packages['nftables'][0]['version'] }}"
  failed_when: false
  when: ansible_facts.packages['nftables'][0]['version'] is version('0.9.1', '<')

- name: Configure ulogd2
  ansible.builtin.template:
    src: "ulogd.conf"
    dest: "/etc/ulogd.conf"
    owner: root
    group: root
    mode: u=rw,g=,o=
  vars:
    ulogd2_version: "{{ ansible_facts.packages['ulogd2'][0]['version'] }}"
  notify: restart ulogd2

- name: Configure bearwall2
  ansible.builtin.template:
    src: "bearwall2.conf"
    dest: "/etc/bearwall2/bearwall2.conf"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify: apply bearwall2

- name: Configure bearwall2 rulesets
  ansible.builtin.include_tasks:
    file: configure-ruleset.yml
  loop: "{{ bearwall2_rulesets }}"
  loop_control:
    label: "{{ item.name }}"

- name: Configure bearwall2 classes
  ansible.builtin.include_tasks:
    file: configure-class.yml
  loop: "{{ bearwall2_classes }}"
  loop_control:
    label: "{{ item.name }}"

- name: Configure bearwall2 interfaces
  ansible.builtin.include_tasks:
    file: configure-interface.yml
  loop: "{{ bearwall2_interfaces }}"
  loop_control:
    label: "{{ item.name }}"
